[Desktop Entry]
Type=Application
Name=AtlasOS Launcher
Comment=Start menu and search
Exec=atlas-launcher
Icon=atlasos
Terminal=false
NoDisplay=true
DBusActivatable=true
X-KDE-StartupNotify=false
OnlyShowIn=KDE;
